{% extends 'base.html' %}
{% block link %}


{% endblock %}
    {% block title %}
          About Project
      {% endblock %}

{% block script_link %}
<script src="https://kit.fontawesome.com/71fe441a00.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/style.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
{% endblock %}

    <header>
      <nav>
          <a href="{{ url_for('main.main') }}"></a>
      </nav>
    </header>

{% block content %}

  <body class="about-body">
    <section>
      <div class="about-contaioner">
        <div class="about-container-top-wrapper">
          <div class="about-container-top">
            <div class="about-container-top-about">
              <h2>პროექტის შესახებ</h2>
              <p>
                    {% for a in about %}
                        {{ a.info }}
                    {% endfor %}
              </p>
            </div>
            <div class="about-container-top-goal">
              <h2>მიზანი</h2>
              <p>აღმოვაჩინოთ ნიჭიერი პოტენციური პროგრამისტები.</p>
            </div>
          </div>
        </div>
        <div class="about-container-bottom-wrapper">
          <div class="about-container-bottom">
            <h2>პროექტზე მომუშავე გუნდი</h2>
            <div class="about-container-bottom-team-info">
                {% for p in team %}
                      <div class="team-info">
                            <h4>{{ p.person }}</h4>
                            <p>{{ p.position }}</p>
                      </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <script defer src="../static/js/main.js"></script>
  </body>

{% endblock %}
