<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/71fe441a00.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/global.css" />
    <title>Authorization</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html">
          <div class="logo-wrapper">
            <img src="../assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a
              href="authorization.html"
              id="auth-link"
              class="activeHeaderColor"
              >ავტორიზაცია</a
            >
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="authorization">
      <section class="auth-container" id="auth-container">
        <h1></h1>
        <form action="submit" class="auth-form" id="auth-form">
          <h3>ავტორიზაცია</h3>
          <div class="msg-wrapper">
            <label for="email">ი-მეილი</label>
            <div class="email-msg sb4">სცადეთ სხვა იმეილი</div>
          </div>
          <div class="input-icons">
            <input type="text" name="email" class="input" id="email" />
            <div>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
          </div>
          <div class="msg-wrapper">
            <label for="pass">პაროლი</label>
            <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
          </div>
          <div class="input-icons">
            <input
              class="input eyePassword"
              id="id_password"
              type="password"
              name="password"
              autocomplete="current-password"
              required=""
            />

            <i
              class="eyeBtn far fa-eye"
              onclick="showPassword(`id_password`,this)"
            ></i>
            <div>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
          </div>
          <div class="restore-wrapper">
            <div class="divSymmetry">
              <div class="saveInfo">
                <input
                  type="checkbox"
                  id="remember"
                  class="remember input"
                  name="remember"
                  checked
                /><label for="remember" class="remember">დამახსოვრება</label>
              </div>
            </div>
            <button type="button" class="recovery" id="recovery-on-auth">
              პაროლის აღდგენა
            </button>
          </div>
          <button
            onclick="location.href='./mathProblems.html'"
            type="button"
            class="enter"
            id="enter"
          >
            შესვლა
          </button>
          <button
            onclick="location.href='registration.html'"
            type="button"
            class="registration"
            id="registration-on-auth"
          >
            რეგისტრაცია
          </button>
        </form>
        <form action="submit" class="email-form" id="email-form">
          <h3>პაროლის აღდგენა</h3>
          <div class="msg-wrapper">
            <label for="pass">ი-მეილი</label>
            <div class="email-msg sb4">სცადეთ სხვა მეილი</div>
          </div>
          <div>
            <div class="input-icons">
              <input
                type="text"
                name="email"
                class="email input"
                id="recovery_email"
              />
              <div>
                <i class="fas fa-exclamation-circle failure-icon"></i>
                <i class="far fa-check-circle success-icon"></i>
              </div>
            </div>
          </div>
          <div class="btn-wrapper-onMail">
            <button type="button" id="cancel" class="cancel-button">
              გაუქმება
            </button>
            <button type="button" id="enter-send">გაგზავნა</button>
          </div>
          <button
            onclick="location.href='registration.html'"
            type="button"
            class="registration"
            id="registration-on-email"
          >
            რეგისტრაცია
          </button>
        </form>
      </section>
      <section class="successful-recovery-tab" id="successful-recovery-tab">
        <h3>პაროლის აღდგენა</h3>
        <p>პაროლის აღდგენის ინსტრუქცია გამოგზავნილია თქვენს ი-მეილზე</p>
        <button type="button" class="sendAgain" id="sendAgain">
          <!-- send-to-recovery-again -->
          გაგზავნა განმეორებით
        </button>
        <button type="button" class="homePage" id="homePageBtn">
          მთავარი გვერდი
        </button>
      </section>
    </main>

    <footer>
      <!-- Copyright -->
      <div class="copyRightDiv">
        <div class="copyRightLink">
          <a href="./privacyPolicy.html" class="privacy"
            >კონფიდენციალურობის პოლიტიკა და გამოყენების პირობები</a
          >
        </div>
        <div>
          <div class="contactList">
            <p class="contact">კონტაქტი</p>
            <p class="contactEmail">
              <a href="mailto: unilabinfo@iliauni.edu.ge"
                >unilabinfo@iliauni.edu.ge</a
              >
            </p>
            <p class="contactEmail">
              <a href="https://www.facebook.com/" target="_blank"> Facebook</a>
            </p>
          </div>
        </div>
      </div>
      <div class="div-2">
        <p>copyright</p>
      </div>
    </footer>
    <script src="../js/app.js"></script>
    <script src="../js/validators/authorizationValidation.js"></script>
  </body>
</html>
