<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body class="about-body">
    <header>
      <nav>
        <a href="index.html">
          <div class="logo-wrapper">
            <img src="../static/assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="auth.html" id="auth-link">ავტორიზაცია</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
          <li>
            <a href="contacts.html">კონტაქტი</a>
          </li>
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <script defer src="../static/js/main.js"></script>
  </body>
</html>