<!--        TODO: write url and method -->
<form action="" class="email-form" id="email-form">
    <h3>პაროლის აღდგენა</h3>
    <div class="msg-wrapper">
      <label for="pass">ი-მეილი</label>
      <div class="email-msg sb4">სცადეთ სხვა იმეილი</div>
    </div>
    <div>
      <div class="input-icons">
        <input type="text" name="email" class="email input" id="recovery_email" />
        <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
      </div>
    </div>
    <div class="btn-wrapper-onMail">
      <button type="button" id="cancel" class="cancel-button">გაუქმება</button>
      <button type="submit" id="enter-send">გაგზავნა</button>
    </div>
    <button type="button" class="registration" id="registration-on-email">რეგისტრაცია</button>
  </form>