{% extends "base.html" %}

{% from "macro.html" import button_filter_buttons, item_circle %}
{% block link %}
<link rel="stylesheet" href="../static/css/style.css" />
{% endblock %}

{% block title %}
Math resource
{% endblock %}

{% block script_link %}
<link
        rel="stylesheet"
        href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
{% endblock %}

{% block conent %}


    <h1>ამოხსენი მათემატიკური ამოცანები პითონის პროგრამული ენით</h1>

    <section class="container">
      <div class="sorting">
          {{ button_filter_buttons('თემები') }}
          {{ button_filter_buttons('ავტორი') }}
          {{ button_filter_buttons('კლასი') }}
      </div>
      <div class="filter-container">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="content-container">
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
                  {{ item_circle('ფიგურები') }}
              </div>
            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <div class="filter-container">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="content-container">
                <div class="tag">ნინო ადამია</div>
                <div class="tag">გიორგი თამაზაშვილი</div>
                <div class="tag">ნინო ადამია</div>
                <div class="tag">ია ია</div>
                <div class="tag">გიორგი თამაზაშვილი</div>
                <div class="tag">ია ფარულავა</div>
                <div class="tag">თამაზ გრიგოლია</div>
              </div>
            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <div class="filter-container">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="content-container">
                <div class="tag">I კლასი</div>
                <div class="tag">II კლასი</div>
                <div class="tag">III კლასი</div>
                <div class="tag">IV კლასი</div>
                <div class="tag">V კლასი</div>
                <div class="tag">VI კლასი</div>
                <div class="tag">VII კლასი</div>
                <div class="tag">VIII კლასი</div>
                <div class="tag">IX კლასი</div>
                <div class="tag">X კლასი</div>
                <div class="tag">XI კლასი</div>
                <div class="tag">XII კლასი</div>
              </div>
            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="grid-container">
        <!-- row -->
        <div class="card">
          <p>ორუცნობიანი განტოლებათა სისტემა და ფორმულა</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">ნინო ადამია</div>
            <div class="tag">ნინო ადამია</div>
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">IV</div>
          </div>
        </div>
        <div class="card">
          <p>სამკუთხედის ფართობი</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">II</div>
          </div>
        </div>
        <div class="card">
          <p>ორუცნობიანი განტოლებათა სისტემა და ფორმულა</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">ნინო ადამია</div>
            <div class="tag">ნინო ადამია</div>
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">IV</div>
          </div>
        </div>
        <div class="card">
          <p>სამკუთხედის ფართობი</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">II</div>
          </div>
        </div>
        <!-- row -->
        <div class="card">
          <p>ორუცნობიანი განტოლებათა სისტემა და ფორმულა</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">ნინო ადამია</div>
            <div class="tag">ნინო ადამია</div>
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">IV</div>
          </div>
        </div>
        <div class="card">
          <p>სამკუთხედის ფართობი</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">II</div>
          </div>
        </div>
        <div class="card">
          <p>ორუცნობიანი განტოლებათა სისტემა და ფორმულა</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">ნინო ადამია</div>
            <div class="tag">ნინო ადამია</div>
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">IV</div>
          </div>
        </div>
        <div class="card">
          <p>სამკუთხედის ფართობი</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">II</div>
          </div>
        </div>
        <!-- row -->
        <div class="card">
          <p>ორუცნობიანი განტოლებათა სისტემა და ფორმულა</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">ნინო ადამია</div>
            <div class="tag">ნინო ადამია</div>
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">IV</div>
          </div>
        </div>
        <div class="card">
          <p>სამკუთხედის ფართობი</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">II</div>
          </div>
        </div>
        <div class="card">
          <p>ორუცნობიანი განტოლებათა სისტემა და ფორმულა</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">ნინო ადამია</div>
            <div class="tag">ნინო ადამია</div>
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">IV</div>
          </div>
        </div>
        <div class="card">
          <p>სამკუთხედის ფართობი</p>
          <img src="../static/assets/Ellipse 90.svg" alt="Ellipse" />
          <div class="tags-container">
            <div class="tag">გიორგი თამაზაშვილი</div>
            <div class="tag">II</div>
          </div>
        </div>
      </div>
    </section>

    <script defer src="../static/js/main.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}
