{% extends "base.html" %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="../templates/index.html">
          <div class="logo-wrapper">
            <img src="../static/assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="./myProfile.html" id="auth-link">ზურაბ კალმახელიძე</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1></h1>
    <main class="internPage">
      <div class="internTitle">
        <img src="../static/assets/Ellipse 102.svg" alt="" />
        <span>ორუცნობიან განტოლებათა სისტემა და ფორმულა</span>
      </div>
      <div class="internAuthor">
        <p>გიორგი თამაზაშვილი <span>X კლასი</span></p>
      </div>
      <div class="internData"><span>10/08/22</span></div>
      <div class="internDescription">
        <span>
          ავტორიზაციასთან იქნება პაროლის აღდგენის ღილაკი/ლინკი და ლინკზე ვწერ
          მეილს, მეილზე მომდის შეტყობინება, შეტყობინებაში არის ლინკი და ამ
          ლინკზე კლიკისას იხსნება ახალი პაროლის და ახალი პაროლის გამეორების
          ველები. ჩაწერის მერე იცვლება და გამოდის დამადასტურებელი შეტყობინება
          ვცვლი სახელს, გვარს, რეგიონს, სკოლა, კლასი, მეილს, პაროლს და ჩავწერ
          ახალს და ვაკლიკებ პროფილის შეცვლის ბათონს პირადი გვერდი
        </span>
      </div>
      <div class="assignments">
        <div class="totalTasks"><span>სულ: 3</span></div>
        <div class="doneTask">
          <img src="../static/assets/Icondone.svg" alt="" /> <span>1</span>
        </div>
        <div class="activeTask"><img src="" alt="" /> <span>2</span></div>
        <div class="passiveTask"><img src="" alt="" /> <span>3</span></div>
        <div class="hintTask">
          <img src="../static/assets/Icondone.svg" alt="" /> <span>4</span>
        </div>
        <div class="wrongTask">
          <img src="../static/assets/icon-cancel.svg" alt="" /> <span>5</span>
        </div>
      </div>
      <div class="internMathProblem">
        <h3>პირელი პრობლემა</h3>
        <span>ქესათაური</span>
        <ul style="list-style-type: disc">
          <li>ავტორიზაციასთან იქნება პაროლის</li>
          <li>იქნება პაროლის</li>
          <li>პაროლის გამეორების ველები.</li>
        </ul>
      </div>
      <div class="internInput">
        <input
          type="text"
          name=""
          id="internInput"
          placeholder="დაწერეთ: correct"
        />
      </div>
      <div class="enterAnswer">
        <button
          type="button"
          onclick="getInputValue()"
          ;
          class="enter"
          id="enter-answer-button"
        >
          პასუხის შეყვანა
        </button>
      </div>
      <div class="correctPassword">
        <span> გილოცავ პასუხი სწორია </span>
        <button type="button" class="enter" id="next-part">
          შემდეგი ნაწილი
        </button>
      </div>
      <div class="wrongPassword">
        <div class="wrongPassworButtons">
          <button type="button" class="seeHints" id="hint-button">
            მინიშნების ნახვა
          </button>
          <button type="button" class="correctAnswer" id="correct-button">
            სწორი პასუხი
          </button>
        </div>
        <div class="nextPartButton">
          <button type="button" class="enter" id="next-part">
            შემდეგი ნაწილი
          </button>
        </div>
      </div>
      <section class="modal" aria-hidden="true">
        <div class="modal-content">
          <span class="close-button" style="cursor: pointer">×</span>
          <div class="hint-title">
            <h3>მინიშნება</h3>
          </div>
          <div class="hintDescription">
            <h3>მეორე პრობლემა</h3>
            <div>
              <p>
                აღწერის გვერდზევე დაჩება ის რაც ამჟამინდელ დიზაინშია(რადგან ეგ
                უნდა ჩაშენდეს და მისი დიზაინი ვერ შეიცვლება, მაგ ნაწილში იხსნება
                დავალება) ax 2+bx+c=0 სურათები რაღაც მაგალითებად ჩავყარე ალბათ
                როგორი შეიძლება იყოს ამოცანა. მეორე ფოტო
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <!-- Copyright -->
      <div class="copyRightDiv">
        <div class="copyRightLink">
          <a href="./privacyPolicy.html" class="privacy"
            >კონფიდენციალურობის პოლიტიკა და გამოყენების პირობები</a
          >
        </div>
        <div>
          <div class="contactList">
            <p class="contact">კონტაქტი</p>
            <p class="contactEmail">
              <a href="mailto: unilabinfo@iliauni.edu.ge"
                >unilabinfo@iliauni.edu.ge</a
              >
            </p>
            <p class="contactEmail">
              <a href="https://www.facebook.com/" target="_blank"> Facebook </a>
            </p>
          </div>
        </div>
      </div>
      <div class="div-2">
        <p>copyright</p>
      </div>
    </footer>
    <script src="../static/js/internPage.js"></script>
  </body>
</html>
