{% extends 'base.html' %}
{% block link %}


{% endblock %}
    {% block title %}
          About Project
      {% endblock %}

{% block script_link %}
<script src="https://kit.fontawesome.com/71fe441a00.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/style.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
{% endblock %}

    <header>
      <nav>
          <a href="{{ url_for('main.main') }}"></a>
      </nav>
    </header>
{% block content %}
    <br><br><br><br><br>

<body>
User does not exist or email is not confirmed
</body>
{% endblock %}
