<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/71fe441a00.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/global.css" />
    <title>My Profile</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html">
          <div class="logo-wrapper">
            <img src="../assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="authorization.html" id="auth-link">ავტორიზაცია</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="myProfile">
      <h1></h1>
      <section class="my-profile" id="my-profile">
        <h3>ჩემი პროფილი</h3>
        <div class="options-wrapper">
          <p tabindex="0" class="profile-option" id="profile-option-one">
            ინფორმაციის რედაქტირება
          </p>
          <p tabindex="0" class="profile-option" id="profile-option-two">
            პაროლის ცვლილება
          </p>
        </div>
        <hr />
        <!-- Edit information Start -->
        <form action="submit" class="my-profile-form" id="my-profile-form">
          <div class="msg-wrapper">
            <label for="pass">სახელი</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>
          <div>
            <div class="input-icons">
              <input
                type="text"
                id="my-profile-first_name"
                name="first_name"
                class="input"
              />
              <div>
                <i class="fas fa-exclamation-circle failure-icon"></i>
                <i class="far fa-check-circle success-icon"></i>
              </div>
            </div>
          </div>
          <div class="msg-wrapper">
            <label for="pass">გვარი</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>
          <div>
            <div class="input-icons">
              <input
                type="text"
                id="my-profile-last_name"
                name="last_name"
                class="input"
              />
              <div>
                <i class="fas fa-exclamation-circle failure-icon"></i>
                <i class="far fa-check-circle success-icon"></i>
              </div>
            </div>
          </div>
          <div class="msg-wrapper">
            <label for="pass">რეგიონი</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>
          <!-- Custom select structure -->
          <div class="customSelect selectVisual">
            <div class="select-menu">
              <div class="select menuVisual menuVisual-one">
                <span></span>
                <i class="fas fa-angle-down"></i>
              </div>
              <div class="options-list optionVisual">
                <div class="option">შიდა-ქართლი</div>
                <div class="option">ქვემო-ქართლი</div>
                <div class="option">სამცხე-ჯავახეთი</div>
                <div class="option">მცხეთა-მთიანეთი</div>
                <div class="option">კახეთი</div>
                <div class="option">იმერეთი</div>
                <div class="option">აჭარა</div>
                <div class="option">სამეგრელო</div>
                <div class="option">რაჭა-ლეჩხუმი</div>
                <div class="option">სვანეთი</div>
                <div class="option">აფხაზეთი</div>
              </div>
              <div>
                <i
                  class="fas fa-exclamation-circle failure-icon"
                  style="position: absolute; right: -152px; top: 18px"
                ></i>
                <i
                  class="far fa-check-circle success-icon"
                  style="
                    position: absolute;
                    right: -22px;
                    transform: translateY(15px);
                  "
                ></i>
              </div>
            </div>
          </div>
          <!-- Custom select structure -->
          <div class="msg-wrapper">
            <label for="pass">სკოლა</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>
          <div>
            <div class="input-icons">
              <input
                type="text"
                id="my-profile-school"
                name="school"
                class="input"
              />
              <div>
                <i class="fas fa-exclamation-circle failure-icon"></i>
                <i class="far fa-check-circle success-icon"></i>
              </div>
            </div>
          </div>
          <div class="msg-wrapper">
            <label for="pass">კლასი</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>

          <!-- Custom select structure -->
          <div class="customSelect selectVisual">
            <div class="select-menu">
              <div class="select2 menuVisual menuVisual-two">
                <span></span>
                <i class="fas fa-angle-down"></i>
              </div>
              <div class="options-list2 optionVisual">
                <div class="option2">I</div>
                <div class="option2">II</div>
                <div class="option2">III</div>
                <div class="option2">IV</div>
                <div class="option2">V</div>
                <div class="option2">VI</div>
                <div class="option2">VII</div>
                <div class="option2">VIII</div>
                <div class="option2">IX</div>
                <div class="option2">X</div>
                <div class="option2">XI</div>
                <div class="option2">XI</div>
                <div class="option2">XII</div>
              </div>
              <div>
                <i
                  class="fas fa-exclamation-circle failure-icon"
                  style="position: absolute; right: -152px; top: 18px"
                ></i>
                <i
                  class="far fa-check-circle success-icon"
                  style="
                    position: absolute;
                    right: -22px;
                    transform: translateY(15px);
                  "
                ></i>
              </div>
            </div>
          </div>
          <div class="msg-wrapper">
            <label for="pass">ი-მეილი</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>
          <div>
            <div class="input-icons">
              <input
                type="text"
                name="email"
                class="input"
                id="my-profile-register_email"
              />
              <div>
                <i class="fas fa-exclamation-circle failure-icon"></i>
                <i class="far fa-check-circle success-icon"></i>
              </div>
            </div>
          </div>
          <div class="msg-wrapper">
            <label for="pass">პაროლი</label>
            <div class="email-msg sb4">ამ ველის შეყვანა აუცილებელია</div>
          </div>
          <div class="input-icons">
            <input
              class="input eyePassword"
              id="password"
              type="password"
              name="password"
              autocomplete="current-password"
              required=""
            />

            <i
              class="eyeBtn far fa-eye"
              onclick="showPassword(`password`,this)"
            ></i>
            <div>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
          </div>
          <!-- <div class="agree-policies-wrapper">
            <div class="policeDiv">
              <input
                type="checkbox"
                id="my-profile-agree-policies"
                name="agreement"
              /><label
                onclick="location.href='./privacyPolicy.html'"
                for="agreement"
                >ვეთანხმები <span>მონაცემების დამუშავებას</span></label
              >
            </div>
          </div> -->
          <div class="my-profile-buttons">
            <button type="button" id="cancel-buttons" class="cancel-button">
              გაუქმება
            </button>
            <button type="button" class="enter" id="my-profile-button">
              შენახვა
            </button>
          </div>
        </form>
        <!-- Edit information End -->
        <form method="post" id="postPassword">
          <!-- current password -->
          <div class="msg-wrapper">
            <label for="pass">არსებული პაროლი</label>
            <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
          </div>
          <div class="input-icons">
            <input
              class="input eyePassword"
              id="id_password"
              type="password"
              name="password"
              autocomplete="current-password"
              required=""
            />

            <i
              class="eyeBtn far fa-eye"
              onclick="showPassword(`id_password`,this)"
            ></i>
            <div>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
          </div>
          <!-- new Password -->
          <div class="msg-wrapper">
            <label for="pass">ახალი პაროლი</label>
            <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
          </div>
          <div class="input-icons">
            <input
              class="eyePassword input"
              type="password"
              id="new_password"
              name="new_password"
              autocomplete="new_password"
              required=""
            />

            <i
              class="eyeBtn far fa-eye"
              onclick="showPassword(`new_password`,this)"
            ></i>
            <div>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
          </div>

          <!-- repeat new password -->
          <div class="msg-wrapper">
            <label for="pass">გაიმეორეთ პაროლი</label>
            <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
          </div>
          <div class="input-icons">
            <input
              class="eyePassword input"
              id="repeat_new_pass"
              type="password"
              name="repeat_new_pass"
              autocomplete="repeat_new_pass"
              required=""
            />

            <i
              class="eyeBtn far fa-eye"
              onclick="showPassword(`repeat_new_pass`,this)"
            ></i>
            <div>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
          </div>
          <div class="my-profile-buttons">
            <button type="button" id="cancel-buttons" class="cancel-button">
              გაუქმება
            </button>
            <button type="button" class="enter" id="my-password-button">
              შენახვა
            </button>
          </div>
        </form>
      </section>
      <section
        class="successful-pass-change active"
        id="successful-pass-change"
      >
        <h2 id="notificationMsg">პაროლი წარმატებით შეიცვალა</h2>
        <button
          onclick="location.href='authorization.html'"
          type="button"
          class="homePage"
          id="homePageBtn"
        >
          მთავარი გვერდი
        </button>
      </section>
    </main>
    <footer>
      <!-- Copyright -->
      <div class="copyRightDiv">
        <div class="copyRightLink">
          <a href="./privacyPolicy.html" class="privacy"
            >კონფიდენციალურობის პოლიტიკა და გამოყენების პირობები</a
          >
        </div>
        <div>
          <div class="contactList">
            <p class="contact">კონტაქტი</p>
            <p class="contactEmail">
              <a href="mailto: unilabinfo@iliauni.edu.ge"
                >unilabinfo@iliauni.edu.ge</a
              >
            </p>
            <p class="contactEmail">
              <a href="https://www.facebook.com/" target="_blank"> Facebook</a>
            </p>
          </div>
        </div>
      </div>
      <div class="div-2">
        <p>copyright</p>
      </div>
    </footer>
    <script src="../js/myProfile.js"></script>
    <script src="../js/validators/myProfileValidation.js"></script>
  </body>
</html>
