{% extends "base.html" %}

{% block link %}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
/>
{% endblock %}

{% block title %}
Page not found
{% endblock %}

{% block content %}
  <body class="about-body">
    <section class="page-not-found-container">
      <div class="page-not-found-wrapper">
        <div class="emoji-sad">
          <div class="face">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
            <div class="mouth-sad"></div>
          </div>
        </div>
        <h2>გვერდი ვერ მოიძებნა</h2>
        <div class="main-page-route">
          <i class="fa-solid fa-arrow-right"></i>
          <a href="index.html">მთავარი გვერდი</a>
        </div>
      </div>
    </section>

    <script defer src="../static/js/main.js"></script>
  </body>
{% endblock %}
