<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global.css" />
    <title>Privacy Policy</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html">
          <div class="logo-wrapper">
            <img src="../static/assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="authorization.html" id="auth-link" class="">ავტორიზაცია</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="privacyPolicy">
      <h1>გამოყენების წესები</h1>
      <div class="policyList">
        <ol>
          <li>
            <h3>ვებ-გვერდის გამოყენება</h3>
            <p>
              ელენე ახვლედიანი დაიბადა 1901 წლის 18 აპრილს, თელავში დიმიტრი
              ახვლედიანის, ცნობილი სამხედრო ექიმის, და ელისაბედი ერისთავის
              ოჯახში. ელენემ დაწყებითი განათლება წმინდა ნინოს სახელობის
              სასწავლებელში მიიღო. 1907 წელს ოჯახი საცხოვრებლათ თბილისში
              გადავიდა სადაც ქალთა მეორე გიმნაზიაში შეიყვანეს, რომლის
              დამთავრების შემდეგ სწავლა განაგრძნო თბილისის სამხატვრო აკადემიაში
              გიგო გაბაშვილის კლასში. იგივე წელს, როგორც აკადემიის სტიპენდიანტი
              მიავლინეს პარიზში სადაც კოლაროსის აკადემიაში სწავლობდა 1927
              წლამდი. სწავლის დამთავრების შემდეგ მხატვარი სამშობლოში დაბრუნდა.
            </p>
          </li>
          <li>
            <h3>საავტორო უფლებები</h3>
            <p>
              ელენე ახვლედიანი დაიბადა 1901 წლის 18 აპრილს, თელავში დიმიტრი
              ახვლედიანის, ცნობილი სამხედრო ექიმის, და ელისაბედი ერისთავის
              ოჯახში. ელენემ დაწყებითი განათლება წმინდა ნინოს სახელობის
              სასწავლებელში მიიღო. 1907 წელს ოჯახი საცხოვრებლათ თბილისში
              გადავიდა სადაც ქალთა მეორე გიმნაზიაში შეიყვანეს, რომლის
              დამთავრების შემდეგ სწავლა განაგრძნო თბილისის სამხატვრო აკადემიაში
              გიგო გაბაშვილის კლასში. იგივე წელს, როგორც აკადემიის სტიპენდიანტი
              მიავლინეს პარიზში სადაც კოლაროსის აკადემიაში სწავლობდა 1927
              წლამდი. სწავლის დამთავრების შემდეგ მხატვარი სამშობლოში დაბრუნდა.
            </p>
          </li>
          <li>
            <h3>კონფიდენციალურობა</h3>
            <p>
              ელენე ახვლედიანი დაიბადა 1901 წლის 18 აპრილს, თელავში დიმიტრი
              ახვლედიანის, ცნობილი სამხედრო ექიმის, და ელისაბედი ერისთავის
              ოჯახში. ელენემ დაწყებითი განათლება წმინდა ნინოს სახელობის
              სასწავლებელში მიიღო. 1907 წელს ოჯახი საცხოვრებლათ თბილისში
              გადავიდა სადაც ქალთა მეორე გიმნაზიაში შეიყვანეს, რომლის
              დამთავრების შემდეგ სწავლა განაგრძნო თბილისის სამხატვრო აკადემიაში
              გიგო გაბაშვილის კლასში. იგივე წელს, როგორც აკადემიის სტიპენდიანტი
              მიავლინეს პარიზში სადაც კოლაროსის აკადემიაში სწავლობდა 1927
              წლამდი. სწავლის დამთავრების შემდეგ მხატვარი სამშობლოში დაბრუნდა.
            </p>
          </li>
        </ol>
      </div>
    </main>
    <footer>
      <!-- Copyright -->
      <div class="copyRightDiv">
        <div class="copyRightLink">
          <a href="./privacyPolicy.html" class="privacy"
            >კონფიდენციალურობის პოლიტიკა და გამოყენების პირობები</a
          >
        </div>
        <div>
          <div class="contactList">
            <p class="contact">კონტაქტი</p>
            <p class="contactEmail">
              <a href="mailto: unilabinfo@iliauni.edu.ge"
                >unilabinfo@iliauni.edu.ge</a
              >
            </p>
            <p class="contactEmail">
              <a href="https://www.facebook.com/" target="_blank"> Facebook</a>
            </p>
          </div>
        </div>
      </div>
      <div class="div-2">
        <p>copyright</p>
      </div>
    </footer>
  </body>
</html>
