{% extends "layouts/base.html" %}

{% block link %}

{% endblock %}

{% block title %}
authorization
{% endblock %}

{% block script_link %}
<script src="https://kit.fontawesome.com/71fe441a00.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../static/css/style.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
{% endblock %}

{% block content %}
    <br><br><br><br><br><br>
     <form method="post">
     <div>
         {{ form.hidden_tag() }}
         {{  form.password.label  }}
         {{ form.password }}
         {{ form.pass_confirm.label_ }}
         {{ form.pass_confirm }}
         <br><br>
         {{ form.submit }}
     </div>
     </form>
    <div class="container signin">
        <p>Don't have an account? <a href="{{ url_for('auth.register_user') }}">Sign up</a>.</p>
    </div>
    <script defer src="../../static/js/main.js"></script>

{% endblock %}