/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url("../fonts/DejaVuSans.woff2") format("woff2"), url("../fonts/DejaVuSans.woff") format("woff"), url("../fonts/DejaVuSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff"), url("../fonts/BPGNinoMtavruli-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Banner Caps';
    src: url("../fonts/BPGBannerCaps.woff2") format("woff2"), url("../fonts/BPGBannerCaps.woff") format("woff"), url("../fonts/BPGBannerCaps.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url("../fonts/DejaVuSans-Bold.woff2") format("woff2"), url("../fonts/DejaVuSans-Bold.woff") format("woff"), url("../fonts/DejaVuSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background: #fbfbfb;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background: #fdfdff;
    z-index: 99;
}

header nav {
    width: 85%;
    margin: 0 auto;
    font-family: 'BPG Nino Mtavruli';
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo-wrapper {
    width: 60px;
    height: 60px;
}

header nav .logo-wrapper .logo {
    width: 100%;
    height: 100%;
}

header nav .nav-links {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
}

header nav .nav-links li a {
    color: #000000;
    font-size: 17px;
}

h1 {
    max-width: 800px;
    margin: 8rem auto 3rem auto;
    text-align: center;
    font-size: 33px;
    font-weight: normal;
    line-height: 50px;
    font-family: 'BPG Banner Caps';
    text-transform: uppercase;
}



.container {
    width: 85%;
    margin: 0 auto;
    font-family: 'DejaVu Sans';
}

.container .sorting {
    margin-bottom: 2rem;
}

.container .sorting button {
    margin-right: 2rem;
    font-family: inherit;
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}

.container .sorting button:focus {
    border: none;
}

.container .filter-container {
    margin: 2rem 0;
    display: none;
}

.container .filter-container.active-filter {
    display: block;
}

.container .filter-container .swiper-slide {
    padding: 0 50px;
}

.container .filter-container .swiper-slide .content-container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.container .filter-container .swiper-slide .content-container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.container .filter-container .swiper-slide .content-container .item .circle {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c5c5c5;
}

.container .filter-container .swiper-slide .content-container .item.chosen .circle {
    background-color: #3571a3;
}

.container .filter-container .swiper-slide .content-container .item p {
    font-size: 15px;
}

.container .filter-container .swiper-slide .content-container .tag {
    padding: 10px;
    background-color: #c5c5c5;
    margin-right: 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    white-space: nowrap;
}

.container .filter-container .swiper-slide .content-container .tag.clicked {
    background-color: #3571a3;
    color: white;
}

.container .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 2rem 0;
}

@media screen and (max-width: 991px) {
    .container .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .container .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .container .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container .grid-container .card {
    border: 1px solid #707070;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container .grid-container .card p {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.container .grid-container .card img {
    margin: 2rem auto 1rem auto;
}

.container .grid-container .card .tags-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container .grid-container .card .tags-container .tag {
    padding: 5px;
    background-color: #3571a3;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 9px;
    color: white;
}

.about-body .about-project {
    width: 60%;
    margin: 2rem auto;
    font-size: 20px;
    text-align: left;
}

.authorization .auth-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.authorization .auth-container form {
    display: none;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 3rem 2rem 3rem 5rem;
    width: 100%;
    height: 40%;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
}

.authorization .auth-container form h3 {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    margin-bottom: 2rem;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .auth-container form .msg-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
}

.authorization .auth-container form .msg-wrapper .email-msg {
    background-color: #ff7474;
    color: #ffffff;
    padding: 0.3rem 0.1rem;
    text-align: center;
    font-size: 13px;
    border-radius: 2px;
    position: relative;
    display: none;
    width: 40%;
}

.authorization .auth-container form .msg-wrapper .email-msg.error {
    display: block;
}

.authorization .auth-container form .msg-wrapper .sb4:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff7474;
    border-bottom: 10px solid transparent;
    right: 12%;
    bottom: -20px;
}

.authorization .auth-container form label {
    color: #9191a0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .auth-container form input,
.authorization .auth-container form select {
    border: 1px solid #707070;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    margin: 0 auto 1 auto;
}

.authorization .auth-container form .input.error {
    border: 1px solid #ff7474;
}

.authorization .auth-container form .input.success {
    border: 1px solid #bdd36e;
}

.authorization .auth-container form input:focus {
    outline-color: #3571a3;
}

.authorization .auth-container form .restore-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 1 auto;
}

.authorization .auth-container form .restore-wrapper label {
    color: #000000;
}

.authorization .auth-container form .restore-wrapper div {
    display: flex;
    width: 30%;
    align-items: center;
}

.authorization .auth-container form .restore-wrapper div .remember {
    margin-right: 0.5rem;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 0;
    width: 20%;
}

.authorization .auth-container form .btn-wrapper-onMail {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.authorization .auth-container form .btn-wrapper-onMail #cancel {
    font-size: 18px;
    border: none;
    background: transparent;
    width: auto;
    margin: 1rem auto;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

.authorization .auth-container form .btn-wrapper-onMail #enter-send {
    background-color: #3571a3;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 3px 6px #00000029;
    width: auto;
    margin: 1rem auto;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

.authorization .auth-container form .recovery,
.authorization .auth-container form .registration {
    font-size: 13px;
    color: #3571a3;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .auth-container form .enter {
    background-color: #3571a3;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 3px 6px #00000029;
    width: auto;
    margin: 1rem auto;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

.authorization .auth-container form #recovery,
.authorization .auth-container form #recovery-on-auth {
    align-self: flex-end;
    margin-bottom: 0;
}

.authorization .auth-container form #recovery {
    width: 90%;
    margin: 0 10% 0 0;
    align-self: flex-end;
    text-align: end;
}

.authorization .auth-container form #enter-send {
    margin-top: 3rem;
}

.authorization .auth-container form .agree-policies-wrapper {
    display: flex;
    width: 90%;
    align-items: center;
}

.authorization .auth-container form .agree-policies-wrapper #agree-policies {
    margin: 0;
    margin-right: 0.5rem;
    padding: 0;
    width: 15%;
}

.authorization .auth-container form .agree-policies-wrapper label {
    line-height: 18px;
    font-size: 13px;
}

.authorization .auth-container .active {
    display: flex;
}

.authorization .auth-container .auth-form {
    display: flex;
}

.authorization .auth-container .auth-form.active {
    display: none;
}

.authorization .auth-container .email-form.active {
    display: flex;
}

.authorization .auth-container .pass-form.active {
    display: flex;
}

.authorization .auth-container .failure-icon {
    color: #ff7474;
    margin-left: 0.5rem;
    opacity: 0;
    display: none;
    position: absolute;
    right: -32%;
    bottom: 35px;
    width: 40%;
}

.authorization .auth-container .failure-icon.error {
    opacity: 1;
    display: inline-block;
}

.authorization .auth-container .success-icon {
    color: #ffffff;
    background-color: #bdd36e;
    margin-left: 0.5rem;
    border-radius: 100%;
    opacity: 0;
    display: none;
    position: absolute;
    bottom: 35px;
}

.authorization .auth-container .success-icon.success {
    opacity: 1;
    display: inline-block;
}

.authorization .auth-container .input-icons {
    display: flex;
    position: relative;
    width: 100%;
}

.authorization .auth-container.active {
    display: none;
}

.authorization .successful-registration {
    display: none;
    margin-top: 8rem;
}

.authorization .successful-registration h3,
.authorization .successful-registration h2 {
    width: 30%;
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
    color: #3571a3;
    text-align: center;
    margin: 2rem auto;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .successful-registration h2 {
    font-size: 36px;
    line-height: 41px;
}

.authorization .successful-registration p {
    width: 30%;
    font-size: 15px;
    line-height: 17px;
    color: #483e3e;
    text-align: center;
    margin: 2rem auto;
}

.authorization .successful-registration.active {
    display: block;
}

.authorization .successful-recovery-tab {
    width: 50%;
    margin: 8rem auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    padding: 3rem 2rem 3rem 5rem;
    height: 40%;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
}

.authorization .successful-recovery-tab h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .successful-recovery-tab p {
    color: #483e3e;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    margin: 4rem auto;
}

.authorization .successful-recovery-tab button {
    font-size: 14px;
    color: #483e3e;
    align-self: flex-end;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
}

.authorization .successful-recovery-tab.active {
    display: flex;
}

.authorization .successful-pass-change {
    display: none;
    margin-top: 8rem;
}

.authorization .successful-pass-change h2 {
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
    color: #3571a3;
    text-align: center;
    margin: 2rem auto;
}

.authorization .successful-pass-change.active {
    display: block;
}

.authorization .my-profile {
    width: 50%;
    margin: 8rem auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    height: 40%;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
}

.authorization .my-profile .options-wrapper,
.authorization .my-profile hr {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.authorization .my-profile .options-wrapper .profile-option,
.authorization .my-profile hr .profile-option {
    font-size: 18px;
    cursor: pointer;
}

.authorization .my-profile .options-wrapper .profile-option:focus,
.authorization .my-profile hr .profile-option:focus {
    font-weight: bold;
}

.authorization .my-profile .options-wrapper #profile-option-one,
.authorization .my-profile hr #profile-option-one {
    font-weight: bold;
}

.authorization .my-profile h3 {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    margin-bottom: 2rem;
    padding: 3rem 0rem;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .my-profile hr {
    margin: 2rem auto 0 auto;
}

.authorization .my-profile form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem 3rem 5rem;
}

.authorization .my-profile form label {
    color: #9191a0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .my-profile form input,
.authorization .my-profile form select {
    border: 1px solid #707070;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    margin: 0 auto 1 auto;
}

.authorization .my-profile form .agree-policies-wrapper {
    display: flex;
    width: 60%;
    align-items: flex-start;
}

.authorization .my-profile form .agree-policies-wrapper #my-profile-agree-policies {
    width: 10%;
}

.authorization .my-profile form .agree-policies-wrapper label {
    margin-right: 0.5rem;
    cursor: pointer;
    margin-top: 0;
}

.authorization .my-profile form .agree-policies-wrapper label span {
    color: #3571a3;
}

.authorization .my-profile form .my-profile-buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.authorization .my-profile form .my-profile-buttons .cancel-button {
    font-size: 18px;
    border: none;
    background: transparent;
    width: auto;
    margin: 1rem auto;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}

.authorization .my-profile form .my-profile-buttons .enter {
    background-color: #3571a3;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 3px 6px #00000029;
    width: auto;
    margin: 1rem auto;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    font-family: 'BPG Nino Mtavruli';
}

.authorization .my-profile.active {
    display: flex;
}

.contacts-container {
    height: 30vh;
    width: 80%;
    margin: 8rem auto 3rem auto;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.contacts-container .contacts-titles h2 {
    margin: 0 0 1rem 0;
    font-size: 26px;
    font-family: 'BPG Nino Mtavruli';
}

.contacts-container .contacts-titles p {
    margin: 0 0 1rem 0;
    font-family: 'BPG Banner Caps';
}

.contacts-container .contacts-email {
    font-family: 'BPG Nino Mtavruli';
    margin: 0 0 1rem 0;
}

.contacts-container .contacts-email a {
    color: #000000;
    font-size: 16px;
    margin: 0 0 0 0.3rem;
}

.contacts-container .contacts-social-media i {
    color: #3571a3;
}

.page-not-found-container {
    margin: 8rem 0 0 0;
    height: 60vh;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-not-found-container .page-not-found-wrapper {
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'BPG Nino Mtavruli';
}

.page-not-found-container .page-not-found-wrapper h2 {
    font-size: 1.7rem;
}

.page-not-found-container .page-not-found-wrapper .main-page-route {
    align-self: flex-end;
}

.page-not-found-container .page-not-found-wrapper .main-page-route i {
    color: #3571a3;
    margin: 0 0.3rem 0 0;
}

.page-not-found-container .page-not-found-wrapper .main-page-route a {
    color: #000000;
    font-size: 15px;
    border-bottom: 1px solid inherit;
}

.page-not-found-container .page-not-found-wrapper .main-page-route a:hover {
    border-bottom: 1px solid #000000;
}

.page-not-found-container .page-not-found-wrapper .emoji-sad {
    position: relative;
    width: 266px;
    height: 266px;
    border: 10px solid #b2b2b2;
    border-radius: 50%;
}

.page-not-found-container .page-not-found-wrapper .emoji-sad .face {
    width: inherit;
    height: inherit;
}

.page-not-found-container .page-not-found-wrapper .emoji-sad .face .eye-left {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-25%, -30%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #b2b2b2;
}

.page-not-found-container .page-not-found-wrapper .emoji-sad .face .eye-right {
    position: absolute;
    top: 30%;
    right: 20%;
    transform: translate(-20%, -30%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #b2b2b2;
}

.page-not-found-container .page-not-found-wrapper .emoji-sad .face .mouth-sad {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 4%);
    width: 106px;
    height: 80px;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top-color: #b2b2b2;
}

.about-contaioner .about-container-top-wrapper {
    width: 100%;
    height: 60vh;
    background: #3571a3;
}

.about-contaioner .about-container-top-wrapper .about-container-top {
    height: 100%;
    width: 85%;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fdfdff;
}

.about-contaioner .about-container-top-wrapper .about-container-top .about-container-top-about h2 {
    font-size: 35px;
    font-family: 'BPG Banner Caps';
    margin: 0 0 1.5rem 0;
}

.about-contaioner .about-container-top-wrapper .about-container-top .about-container-top-about p {
    font-family: 'DejaVu Sans';
    font-size: 18px;
    margin: 0 0 3rem 0;
}

.about-contaioner .about-container-top-wrapper .about-container-top-goal h2 {
    font-size: 35px;
    font-family: 'BPG Banner Caps';
    margin: 0 0 1.5rem 0;
}

.about-contaioner .about-container-top-wrapper .about-container-top-goal p {
    font-family: 'DejaVu Sans';
    font-size: 18px;
}

.about-contaioner .about-container-bottom-wrapper {
    background: #fed142;
}

.about-contaioner .about-container-bottom-wrapper .about-container-bottom {
    width: 85%;
    margin: 0 auto;
}

.about-contaioner .about-container-bottom-wrapper .about-container-bottom h2 {
    padding: 3rem 0 5rem 0;
    font-size: 35px;
    font-family: 'BPG Banner Caps';
}

.about-contaioner .about-container-bottom-wrapper .about-container-bottom .about-container-bottom-team-info {
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.about-contaioner .about-container-bottom-wrapper .about-container-bottom .about-container-bottom-team-info .team-info {
    width: 100%;
    height: 100%;
}

.about-contaioner .about-container-bottom-wrapper .about-container-bottom .about-container-bottom-team-info .team-info h4 {
    font-family: 'DejaVu Sans';
    font-size: 24px;
}

.about-contaioner .about-container-bottom-wrapper .about-container-bottom .about-container-bottom-team-info .team-info p {
    font-family: 'DejaVu Sans';
    font-size: 18px;
    margin: 1rem 0 0 0;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 1px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: "PF Tempesta Five", sans-serif;
}
.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: "PF Tempesta Five", sans-serif;
}

.loginbtn:hover{
  opacity:1;
  font-family: "PF Tempesta Five", sans-serif;
}
.registerbtn:hover {
  opacity:1;
  font-family: "PF Tempesta Five", sans-serif;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #dddddd;
}