{% from "macros/macro.html" import nav_bar_regular, button_filter_buttons%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block link %}

    {% endblock %}
    <title>{% block title %}

            {% endblock %}
    </title>
    {% block script_link %}

    {% endblock %}
  </head>

  <body>
    <header>
      <nav>
        <div class="logo-wrapper">
            <a href='{{ url_for('main.main') }}'>
                <div class="logo-wrapper">
                    <img src="../../static/assets/mathlogo.png" alt="logo" class="logo" /></div>
            </a>
        </div>
        <ul class="nav-links">
            {% if current_user.is_authenticated %}
                  {{ nav_bar_regular('main.about','პროექტის შესახებ') }}
                  {{ nav_bar_regular('main.contacts','კონტაქტი') }}
                  {{ nav_bar_regular("auth.log_out","გამოსვლა") }}
            {% else %}
                  {{ nav_bar_regular("auth.register_user","რეგისტრაცია") }}
                  {{ nav_bar_regular("auth.login","ავტორიზაცია") }}
                  {{ nav_bar_regular('main.about','პროექტის შესახებ') }}
                  {{ nav_bar_regular('main.contacts','კონტაქტი') }}
            {% endif %}
        </ul>
      </nav>
    </header>

  {% block content %}

  {% endblock %}

    <footer>
      <!-- Copyright -->
      <div class="copyRightDiv">
        <div class="copyRightLink">
          <a href="{{ url_for('main.terms_and_conditions')}}" class="privacy"
            >კონფიდენციალურობის პოლიტიკა და გამოყენების პირობები</a
          >
        </div>
        <div>
          <div class="contactList">
            <p class="contact">კონტაქტი</p>
            <p class="contactEmail">
              <a href="mailto: unilabinfo@iliauni.edu.ge"
                >unilabinfo@iliauni.edu.ge</a
              >
            </p>
            <p class="contactEmail">
              <a href="https://www.facebook.com/" target="_blank"> Facebook</a>
            </p>
          </div>
        </div>
      </div>
      <div class="div-2">
        <p>copyright</p>
      </div>
    </footer>
    <script src="../../static/js/home.js"></script>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

</body>
</html>

