<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Project</title>
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body class="about-body">
    <header>
      <nav>
        <a href="../index.html">
          <div class="logo-wrapper">
            <img src="../assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="auth.html" id="auth-link">ავტორიზაცია</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
          <li>
            <a href="contacts.html">კონტაქტი</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="about-contaioner">
        <div class="about-container-top-wrapper">
          <div class="about-container-top">
            <div class="about-container-top-about">
              <h2>პროექტის შესახებ</h2>
              <p>
                საიტზე არის განთავსებული მათემატიკური ამოცანები, რომლებთა
                ამოხსნაც python-ის პროგრამულ ენაზე დაწერილი კოდით გახდება
                შესაძლებელი. კოდის დაწერას შეძლებთ საიტზე და აქვე მოხდება მისი
                ავტომატური შემოწმება.
              </p>
            </div>
            <div class="about-container-top-goal">
              <h2>მიზანი</h2>
              <p>აღმოვაჩინოთ ნიჭიერი პოტენციური პროგრამისტები.</p>
            </div>
          </div>
        </div>
        <div class="about-container-bottom-wrapper">
          <div class="about-container-bottom">
            <h2>პროექტზე მომუშავე გუნდი</h2>
            <div class="about-container-bottom-team-info">
              <div class="team-info">
                <h4>სანდრო ასათიანი</h4>
                <p>ოუნერი</p>
              </div>
              <div class="team-info">
                <h4>თემო ჩიჩუა</h4>
                <p>ოუნერი Back-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>ანანო ასპანიძე</h4>
                <p>პროექტის მენეჯერი (ჰედი)</p>
              </div>
              <div class="team-info">
                <h4>ნენე არაბული</h4>
                <p>დიზაინი (ჰედი)</p>
              </div>
              <div class="team-info">
                <h4>მარიშა არაბული</h4>
                <p>დიზაინი (ჰედი)</p>
              </div>
              <div class="team-info">
                <h4>ეკატერინა ხარბედია</h4>
                <p>დიზაინი (ჰედი)</p>
              </div>
              <div class="team-info">
                <h4>ნოკა ყიფიანი</h4>
                <p>Front-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>დავით ცალანი</h4>
                <p>Front-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>დავით ჭინჭარაშვილი</h4>
                <p>Back-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>გიორგი მხეიძე</h4>
                <p>პროექტის მენეჯერი</p>
              </div>
              <div class="team-info">
                <h4>ოთო ბენიაიძე</h4>
                <p>დიზაინი</p>
              </div>
              <div class="team-info">
                <h4>ლუკა ბლიაძე</h4>
                <p>Front-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>მერი გოგიჩაშვილი</h4>
                <p>Front-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>გიორგი ბიწაძე</h4>
                <p>Front-End დეველოპერი</p>
              </div>
              <div class="team-info">
                <h4>ნიკა ქვრივიშვილი</h4>
                <p>Back-End დეველოპერი</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../js/navigation.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/api.js"></script>
  </body>
</html>
