<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorization</title>
    <script src="https://kit.fontawesome.com/71fe441a00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body class="about-body">
    <header>
      <nav>
        <a href="../index.html">
          <div class="logo-wrapper">
            <img src="../assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="auth.html" id="auth-link">ავტორიზაცია</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
          <li>
            <a href="contacts.html">კონტაქტი</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="authorization" >
      <section class="auth-container" id="auth-container">
        <h1>მათემატიკის რესურსი</h1>
        <form action="submit" class="auth-form" id="auth-form">
          <h3>ავტორიზაცია</h3>
          <div class="msg-wrapper">
          <label for="email">ი-მეილი</label>
          <div class="email-msg sb4">სცადეთ სხვა იმეილი</div>
        </div>
          <div class="input-icons">
          <input
            type="text"
            name="email"
            class="input"
            id="email"
          />
          <div>
            <i class="fas fa-exclamation-circle failure-icon"></i>
            <i class="far fa-check-circle success-icon"></i>
          </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">პაროლი</label>
          <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
        </div>
          <div>
            <div class="input-icons">
          <input
            type="password"
            id="pass"
            name="password"
            class="input"
          />
          <div>
            <i class="fas fa-exclamation-circle failure-icon"></i>
            <i class="far fa-check-circle success-icon"></i>
          </div>
        </div>
        </div>
          <div class="restore-wrapper">
            <div>
              <input
                type="checkbox"
                id="remember"
                class="remember input"
                name="remember"
                checked
              /><label class="remember">დამახსოვრება</label>
            </div>
            <button type="button" class="recovery" id="recovery-on-auth">პაროლის აღდგენა</button>
          </div>
          <button type="submit" class="enter" id="enter">შესვლა</button>
          <button type="button" class="registration" id="registration-on-auth">რეგისტრაცია</button>
        </form>
        <form action="submit" class="pass-form" id="pass-form">
          <h3>პაროლის აღდგენა</h3>
          <div class="msg-wrapper">
            <label for="pass">ახალი პაროლი</label>
            <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
          </div>
          <div>
            <div class="input-icons">
          <input
            type="password"
            id="recovery_password"
            name="password"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
      </div>
        <div class="msg-wrapper">
          <label for="pass">გაიმეორეთ პაროლი</label>
          <div class="email-msg sb4">პაროლი არ ემთხვევა</div>
        </div>
          <div>
            <div class="input-icons">
          <input
            type="password"
            id="repeat_pass"
            name="password"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        </div>
            <button type="button" class="recovery" id="recovery">პაროლის აღდგენა</button>
          </div>
          <button type="submit" class="enter" id="remember-button">დამახსოვრება</button>
          <button type="button" class="registration" id="registration-on-recovery">რეგისტრაცია</button>
        </form>
        <form action="submit" class="email-form" id="email-form">
          <h3>პაროლის აღდგენა</h3>
          <div class="msg-wrapper">
            <label for="pass">ი-მეილი</label>
            <div class="email-msg sb4">სცადეთ სხვა იმეილი</div>
          </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            name="email"
            class="email input"
            id="recovery_email"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        </div>
        <div class="btn-wrapper-onMail">
        <button type="button" id="cancel" class="cancel-button">გაუქმება</button>
          <button type="submit" id="enter-send">გაგზავნა</button>
        </div>
          <button type="button" class="registration" id="registration-on-email">რეგისტრაცია</button>
        </form>
        <form action="submit" class="register-form" id="register-form">
          <h3>ახალი ანგარიშის შექმნა</h3>
          <div class="msg-wrapper">
            <label for="pass">სახელი</label>
            <div class="email-msg sb4">ამ ველის შევსება აუცილებელია</div>
          </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            id="first_name"
            name="first_name"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">გვარი</label>
          <div class="email-msg sb4">ამ ველის შევსება აუცილებელია</div>
        </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            id="last_name"
            name="last_name"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">რეგიონი</label>
          <div class="email-msg sb4">ამ ველის შევსება აუცილებელია</div>
        </div>
          <div>
            <div class="input-icons">
              <select name="region" id="region">
                <option value="shida-kartli">შიდა-ქართლი</option>
                <option value="kvemo-kartli">ქვემო-ქართლი</option>
                <option value="samtskhe-javakheti">სამცხე-ჯავახეთი</option>
                <option value="mtskheta-mtianeti">მცხეთა-მთიანეთი</option>
                <option value="kakheti">კახეთი</option>
                <option value="imereti">იმერეთი</option>
                <option value="adjara">აჭარა</option>
                <option value="samegrelo">სამეგრელო</option>
                <option value="guria">გურია</option>
                <option value="racha-lechkhumi">რაჭა-ლეჩხუმი</option>
                <option value="svaneti">სვანეთი</option>
                <option value="aphkhazeti">აფხაზეთი</option>
              </select>
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">სკოლა</label>
          <div class="email-msg sb4">ამ ველის შევსება აუცილებელია</div>
        </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            id="school"
            name="school"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">კლასი</label>
          <div class="email-msg sb4">ამ ველის შევსება აუცილებელია</div>
        </div>
          <div>
            <div class="input-icons">
          <select name="grade" id="grade">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
            <option value="VI">VI</option>
            <option value="VII">VII</option>
            <option value="VIII">VIII</option>
            <option value="IX">IX</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
            <option value="XII">XII</option>
          </select>
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
      </div>
        <div class="msg-wrapper">
          <label for="pass">ი-მეილი</label>
          <div class="email-msg sb4">ი-მეილი უკვე არსებობს</div>
        </div>
            <div class="input-icons">
          <input
            type="text"
            name="email"
            class="input"
            id="register_email"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">პაროლი</label>
          <div class="email-msg sb4">სცადეთ სხვა პაროლი</div>
        </div>
        <div class="input-icons">
          <input
            type="password"
            id="new_password"
            name="new_password"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
        <div class="msg-wrapper">
          <label for="pass">გაიმეორეთ პაროლი</label>
          <div class="email-msg sb4">პაროლი არ ემთხვევა</div>
        </div>
        <div class="input-icons">
          <input
            type="password"
            id="repeat_new_pass"
            name="repeat_new_pass"
            class="input"
          />
          <div>
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
        </div>
        </div>
          <div class="agree-policies-wrapper">
          <input
                type="checkbox"
                id="agree-policies"
                name="agreement"
                checked
              /><label for="agreement">ვეთანხმები კონფიდენციალურობის პოლიტიკას და გამოყენების პირობებებს</label>
            </div>
          <button type="submit" class="enter" id="registration-button">რეგისტრაცია</button>
        </form>
      </section>
      <section class="successful-registration" id="successful-registration">
        <h3>თქვენ წარმატებით</h3>
        <h2>დარეგისტრირდით</h2>
        <p>დასადასტურებელი შეტყობინება გამოგზავნილია თქვენს ი-მეილზე</p>
      </section>
      <section class="successful-recovery-tab" id="successful-recovery-tab">
        <h3>პაროლის აღდგენა</h3>
        <p>პაროლის აღდგენის ინსტრუქცია გამოგზავნილია თქვენს ი-მეილზე</p>
        <button type="button" id="send-to-recovery-again">გაგზავნა განმეორებით</button>
      </section>
      <section class="successful-pass-change" id="successful-pass-change">
        <h2>პაროლი წარმატებით შეიცვალა</h2>
      </section>
      <section class="my-profile" id="my-profile">
        <h3>ჩემი პროფილი</h3>
          <div class="options-wrapper">
            <p tabindex="0" class="profile-option" id="profile-option-one">ინფორმაციის რედაქტირება</p>
            <p tabindex="0" class="profile-option" id="profile-option-two">პაროლის ცვლილება</p>
          </div>
          <hr />
        <form action="submit" class="my-profile-form" id="my-profile-form">
             <label for="pass">სახელი</label>
          </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            id="my-profile-first_name"
            name="first_name"
            class="input"
          />
        </div>
        </div>
         <label for="pass">გვარი</label>
        </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            id="my-profile-last_name"
            name="last_name"
            class="input"
          />
        </div>
        </div>
         <label for="pass">რეგიონი</label>
        </div>
          <select name="region" id="my-profile-regions">
            <option value="shida-kartli">შიდა-ქართლი</option>
            <option value="kvemo-kartli">ქვემო-ქართლი</option>
            <option value="samtskhe-javakheti">სამცხე-ჯავახეთი</option>
            <option value="mtskheta-mtianeti">მცხეთა-მთიანეთი</option>
            <option value="kakheti">კახეთი</option>
            <option value="imereti">იმერეთი</option>
            <option value="adjara">აჭარა</option>
            <option value="samegrelo">სამეგრელო</option>
            <option value="guria">გურია</option>
            <option value="racha-lechkhumi">რაჭა-ლეჩხუმი</option>
            <option value="svaneti">სვანეთი</option>
            <option value="aphkhazeti">აფხაზეთი</option>
          </select>
         <label for="pass">სკოლა</label>
        </div>
          <div>
            <div class="input-icons">
          <input
            type="text"
            id="my-profile-school"
            name="school"
            class="input"
          />
        </div>
      </div>
         <label for="pass">კლასი</label>
          <select name="grade" id="my-profile-grades">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
            <option value="VI">VI</option>
            <option value="VII">VII</option>
            <option value="VIII">VIII</option>
            <option value="IX">IX</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
            <option value="XII">XII</option>
          </select>
         <label for="pass">ი-მეილი</label>
        </div>
            <div class="input-icons">
          <input
            type="text"
            name="email"
            class="input"
            id="my-profile-register_email"
          />
        </div>
         <label for="pass">პაროლი</label>
        </div>
        <div class="input-icons">
          <input
            type="password"
            id="my-profile-new_password"
            name="new_password"
            class="input"
          />
        </div>
          <div class="agree-policies-wrapper">
          <input
                type="checkbox"
                id="my-profile-agree-policies"
                name="agreement"
                checked
              /><label for="agreement">ვეთანხმები <span>მონაცემების დამუშავებას</span></label>
            </div>
        <div class="my-profile-buttons">
          <button type="button" id="cancel-buttons" class="cancel-button">გაუქმება</button>
          <button type="submit" class="enter" id="my-profile-button">შენახვა</button>
        </div>
        </form>
      </section>
    </main>
    
    <script src="../js/navigation.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/api.js"></script>
  </body>
</html>