<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body class="about-body">
    <header>
      <nav>
        <a href="../index.html">
          <div class="logo-wrapper">
            <img src="../assets/mathlogo.png" alt="logo" class="logo" />
          </div>
        </a>
        <ul class="nav-links">
          <li>
            <a href="auth.html" id="auth-link">ავტორიზაცია</a>
          </li>
          <li>
            <a href="about.html">პროექტის შესახებ</a>
          </li>
          <li>
            <a href="contacts.html">კონტაქტი</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="contacts-container">
        <div class="contacts-titles">
          <h2>კონტაქტი</h2>
          <p>
            ნებისმიერი კითხვის ან ხარვეზის შემთხვევაში გთხოვთ მოგვწეროთ მეილზე
            ან ფეისფუქის გვერდზე
          </p>
        </div>
        <div class="contacts-email">
          <span>✉️</span>
          <a href="#">unilabinfo@iliauni.edu.ge</a>
        </div>
        <div class="contacts-social-media">
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
    </section>

    <script src="../js/navigation.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/api.js"></script>
  </body>
</html>
