<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body class="about-body">
    <header>
      <nav>
        <div class="logo-wrapper">
          <img src="../assets/mathlogo.png" alt="logo" class="logo" />
        </div>
        <ul class="nav-links">
          <li>
            <a href="./auth.html" id="auth-link">ავტორიზაცია</a>
          </li>
          <li>
            <a href="./about.html">პროექტის შესახებ</a>
          </li>
          <li>
            <a href="./contacts.html">კონტაქტი</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="page-not-found-container">
      <div class="page-not-found-wrapper">
        <div class="emoji-sad">
          <div class="face">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
            <div class="mouth-sad"></div>
          </div>
        </div>
        <h2>გვერდი ვერ მოიძებნა</h2>
        <div class="main-page-route">
          <i class="fa-solid fa-arrow-right"></i>
          <a href="../index.html">მთავარი გვერდი</a>
        </div>
      </div>
    </section>

    <script src="../js/navigation.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/api.js"></script>
  </body>
</html>
